In [ ]:
from __future__ import division
from __future__ import print_function
from __future__ import absolute_import

In [ ]:
import tensorflow as tf
import numpy as np
import apache_beam as beam
from apache_beam.options.pipeline_options import PipelineOptions
from google.cloud import bigquery as bq
import pandas as pd

In [ ]:
KEYS = 'date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay'
KEYS = KEYS.split(',')
print(KEYS)

In [ ]:
!head -10 ATL_1_4_9.csv > atl_1_4_9.csv

In [ ]:
options = PipelineOptions()

## Attention: Mind The Transforms' Return Values!
The important thing to notice in designing ```Transform```s is that ParDo Transforms always have an outer list of what they return. See ```ParseToList``` below for illustration. ```Map``` functions return the result as they computed it.

In [ ]:
class ParseToList(beam.DoFn):

    def process(self, element):
        return [element.split(",")]

In [ ]:
class ColumnFilter(beam.DoFn): 
    
    def __init__(self, index, predicate):
        """
        param index: the index of the column to be compared against in the the file
        param predicate: a function taking a single argument and returning a boolean
        """
        super(beam.DoFn, self).__init__()
        self.predicate = predicate
        self.index = index
    def process(self, element):
        if self.predicate(element[self.index]):
            return [element]

In [ ]:
with beam.Pipeline(options=options) as p:
    lines = p | 'ReadFile' >> beam.io.ReadFromText('atl_1_4_9.csv',skip_header_lines=1)
    out = (lines
        | "Parser" >> beam.ParDo(ParseToList()) 
        | "Filter" >> beam.ParDo(ColumnFilter(KEYS.index('arrival_airport'), lambda x: x == 'ORD')) 
        | "ToCommaSepString" >> beam.Map(lambda e: ",".join(e))
        | "Write" >> beam.io.WriteToText("out.csv"))
!cat out.csv-00000-of-00001
! rm -rf out.csv-00000-of-00001 beam-temp-out.csv*

---
If you just want to play around with no IO on either end just pipe an array into your chain of transformers

In [ ]:
with open('atl_1_4_9.csv') as f:
    content = f.readlines()

In [ ]:
(content         
 | "Parser" >> beam.ParDo(ParseToList()) 
 | "Filter" >> beam.ParDo(ColumnFilter(KEYS.index('arrival_airport'), lambda x: x == 'ORD'))
 | "ToCommaSepString" >> beam.Map(lambda e: ",".join(e).strip()))

---
### Combiners

In [ ]:
!cat atl_1_4_9.csv

In [ ]:
with beam.Pipeline(options=options) as p:
    lines = p | 'ReadFile' >> beam.io.ReadFromText('atl_1_4_9.csv',skip_header_lines=1)
    out = (lines
        | "Parser" >> beam.ParDo(ParseToList()) 
        | "Select" >> beam.Map(lambda elem: (elem[KEYS.index('arrival_airport')],int(elem[KEYS.index('arrival_delay')])))
        | "Group_by_dep" >> beam.GroupByKey()
        | "Average" >> beam.Map(lambda e: (e[0], np.sum(e[1], dtype='float')/len(e[1])))
        | "ToCommaSepString" >> beam.Map(lambda e: "{},{}".format(e[0],e[1]))
        | "Write" >> beam.io.WriteToText("out.csv"))
!cat out.csv-00000-of-00001
! rm -rf out.csv-00000-of-00001 beam-temp-out.csv*

In [ ]:
[1,2,3,4,5] | beam.CombineGlobally(lambda l: sum(l))

---
### Reading from BigQuery

In [ ]:
# !

In [2]:
%load_ext google.cloud.bigquery

In [6]:
%%bigquery blabla
SELECT
  ORIGIN,
  FL_YEAR,
  FL_MONTH,
  FL_DOW,
  UNIQUE_CARRIER,
  DEST,
  CRS_ARR_TIME,
  DEP_DELAY,
  ARR_DELAY
FROM `going-tfx.examples.ATL_JUNE` 
where
  MOD(ABS(FARM_FINGERPRINT(
    CONCAT(
      STRING(TIMESTAMP(FL_DATE)),
      UNIQUE_CARRIER,
      DEST
    )
  )) + CRS_ARR_TIME, 10000) = 3

,ORIGIN,FL_YEAR,FL_MONTH,FL_DOW,UNIQUE_CARRIER,DEST,CRS_ARR_TIME,DEP_DELAY,ARR_DELAY
0,ATL,2006,6,1,DL,CHS,947,3,-5
1,ATL,2007,6,1,DL,PHX,1217,-1,3
2,ATL,2008,6,1,FL,BOS,1304,7,-5
3,ATL,2010,6,1,DL,MSP,2335,8,-2
4,ATL,2010,6,1,EV,CAK,1259,-8,-21
5,ATL,2015,6,1,DL,PIT,1923,0,-9
6,ATL,2015,6,1,EV,CHO,1626,-3,-4
7,ATL,2016,6,1,DL,RIC,1907,-5,-22
8,ATL,2017,6,1,UA,IAH,2040,-4,-1
9,ATL,2017,6,1,DL,LAX,2304,35,-2
10,ATL,2006,6,2,EV,FNT,1601,2,0
11,ATL,2008,6,2,DL,ORD,800,-7,-5
12,ATL,2008,6,2,FL,SAN,2121,-2,-6
13,ATL,2009,6,2,FL,MEM,1312,32,39
14,ATL,2010,6,2,FL,TPA,826,-6,-19
15,ATL,2010,6,2,DL,ABQ,1204,-1,-11
16,ATL,2012,6,2,EV,VPS,1522,-4,-9
17,ATL,2012,6,2,EV,ROA,1044,12,9
18,ATL,2015,6,2,DL,LGA,1915,84,104
19,ATL,2007,6,3,EV,MDT,2300,181,185
20,ATL,2008,6,3,DL,RSW,1603,-1,-3
21,ATL,2009,6,3,XE,IAH,2217,-7,-23
22,ATL,2008,6,4,FL,MSP,1819,9,-33
23,ATL,2008,6,4,FL,MEM,2321,120,113
24,ATL,2009,6,4,FL,SJU,1244,13,8
25,ATL,2011,6,4,DL,LGA,1259,4,-8
26,ATL,2011,6,4,DL,MCO,1640,3,6
27,ATL,2011,6,4,EV,CRW,2148,-3,-3
28,ATL,2012,6,4,EV,CHO,1631,18,1
29,ATL,2014,6,4,DL,LAS,1107,-1,-2
30,ATL,2006,6,5,MQ,ORD,1430,70,87
31,ATL,2007,6,5,FL,MSY,2032,-1,-10
32,ATL,2010,6,5,FL,FLL,1213,-1,2
33,ATL,2010,6,5,DL,LAS,1245,-3,-8
34,ATL,2012,6,5,AA,DFW,855,-8,-8
35,ATL,2017,6,5,UA,IAH,1327,270,266
36,ATL,2017,6,5,DL,MDW,946,-1,-10
37,ATL,2011,6,6,DL,COS,2021,-2,-21
38,ATL,2011,6,6,DL,CHS,935,-2,1
39,ATL,2012,6,6,DL,BWI,1433,-2,-3
40,ATL,2013,6,6,EV,EWN,1335,-5,2
41,ATL,2016,6,6,DL,SGF,2107,3,-4
42,ATL,2017,6,6,DL,SLC,2127,33,61
43,ATL,2008,6,7,EV,TYS,1040,-5,-15
44,ATL,2009,6,7,EV,FAY,1229,-3,-5
45,ATL,2011,6,7,DL,EYW,1709,-5,0
46,ATL,2013,6,7,DL,EYW,1933,-3,-23

In [7]:
blabla[:10]

,ORIGIN,FL_YEAR,FL_MONTH,FL_DOW,UNIQUE_CARRIER,DEST,CRS_ARR_TIME,DEP_DELAY,ARR_DELAY
0,ATL,2006,6,1,DL,CHS,947,3,-5
1,ATL,2007,6,1,DL,PHX,1217,-1,3
2,ATL,2008,6,1,FL,BOS,1304,7,-5
3,ATL,2010,6,1,DL,MSP,2335,8,-2
4,ATL,2010,6,1,EV,CAK,1259,-8,-21
5,ATL,2015,6,1,DL,PIT,1923,0,-9
6,ATL,2015,6,1,EV,CHO,1626,-3,-4
7,ATL,2016,6,1,DL,RIC,1907,-5,-22
8,ATL,2017,6,1,UA,IAH,2040,-4,-1
9,ATL,2017,6,1,DL,LAX,2304,35,-2

In [ ]:
query="""
SELECT
  ORIGIN,
  FL_YEAR,
  FL_MONTH,
  FL_DOW,
  UNIQUE_CARRIER,
  DEST,
  CRS_ARR_TIME,
  DEP_DELAY,
  ARR_DELAY
FROM `going-tfx.examples.ATL_JUNE` 
where
  MOD(ABS(FARM_FINGERPRINT(
    CONCAT(
      STRING(TIMESTAMP(FL_DATE)),
      UNIQUE_CARRIER,
      DEST
    )
  )) + CRS_ARR_TIME, 10000) = 3
"""

In [ ]:
df = pd.read_gbq(query,
                     project_id='going-tfx',
                     dialect='standard')
print(df.shape)
df.head(10)

In [ ]:
KEYS = list(df.keys())
KEYS

In [ ]:
options=beam.options.pipeline_options.PipelineOptions().from_dictionary({'project': 'going-tfx'})
#options.get_all_options()

In [ ]:
KEYS = list(df.keys())
def toCsvRow (dict): 
    row = [str(dict[c]) for c in KEYS]
    return ",".join(row)

In [ ]:
with beam.Pipeline(options=options) as p:
    rows = p | 'read' >> beam.io.Read(beam.io.BigQuerySource(query=query, use_standard_sql=True))
    (rows | "encode" >> beam.Map(toCsvRow) \
    | "Write" >> beam.io.WriteToText("out.csv"))
!cat out.csv-00000-of-00001
! rm -rf out.csv-00000-of-00001 beam-temp-out.csv*