In [7]:
sess = tf.InteractiveSession()

In [5]:
import tensorflow as tf

In [19]:
pred = tf.constant([[1.0, 3, 5, 7], [1.0, 3, 5, 7], [1.0, 3, 5, 7]], dtype=tf.float32)
act  = tf.constant([[0.0, 2, 9, 8], [0.0, 2, 9, 8], [0.0, 2, 9, 8]], dtype=tf.float32)
sess.run([
    tf.abs(pred - act) / tf.cast(tf.shape(pred)[1], tf.float32)
])

[array([[0.25, 0.25, 1.  , 0.25],
        [0.25, 0.25, 1.  , 0.25],
        [0.25, 0.25, 1.  , 0.25]], dtype=float32)]

In [2]:
[
    'base_dir',
    'file_format',
    'train_batch_size',
    'max_train_steps',
    'reader_num_threads',
    'parser_num_threads',
    'prefetch_buffer_size'    
]

'a-b'

In [1]:
d = {'a': 1}
d.update({'b': 2})
d

{'a': 1, 'b': 2}

In [4]:
for a in d.items():
    print(a)

('a', 1)
('b', 2)

In [1]:
import tensorflow as tf

In [6]:
import tensorflow as tf

In [ ]:
tf.train.AdagradDAOptimizer()

In [ ]:
def

In [7]:
from requests import get

url = 'http://www.leonardsguide.com/us-airport-codes.shtml'

response = get(url)
print(response.text[1000:3000])

from bs4 import BeautifulSoup

html_soup = BeautifulSoup(response.text, 'html.parser')

"/"><img src="/images/lgo.png" alt="Leonard's Guide Freight Directories"></a></div>
				<div class="banner_container"><a href="javascript:void(0)" id="banner"></a></div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="main_menu">
		<div class="rmm">
		    <ul>
				<li class="p-home"><a href="/">Home</a></li>
				<li class="p-ftwd"><a href="/ftwd.asp">FTWD</a></li>
				<li class="p-weblink"><a href="/weblink-directory.shtml">Weblink Directory</a></li>
				<li class="p-advserv"><a href="/advertiser-services.shtml">Advertiser Services</a></li>
				<li class="p-contact"><a href="/contact.asp"><span class="mm_contact">Contact Us</span></a></li>
		    </ul>
			</div>
	</div>
	<div id="main">
		<div class="shell">
			<div id="content">
				<div><h1 class="phead">United States Airport Codes</h1></div>
				<h2 class="lgh1">List of three-letter airport codes covering the United States.</h2>
<!-- -->
<div style="padding-top:10px;">
<table width="100%" border="1" cellspacing="0" cellpadding="3">
<tr bgcolor="#d1d1d1">
<td><span>Alabama</span></td>
<td><span>AL</span></td>
</tr><tr>
<td>Birmingham International Airport</td>
<td>BHM</td>
</tr><tr>
<td>Dothan Regional Airport</td>
<td>DHN</td>
</tr><tr>
<td>Huntsville International Airport</td>
<td>HSV</td>
</tr><tr>
<td>Mobile</td>
<td>MOB</td>
</tr><tr>
<td>Montgomery</td>
<td>MGM</td>
</tr><tr bgcolor="#d1d1d1">
<td><span>Alaska</span></td>
<td><span>AK</span></td>
</tr><tr>
<td>Anchorage International Airport</td>
<td>ANC</td>
</tr><tr>
<td>Fairbanks  International Airport</td>
<td>FAI</td>
</tr><tr>
<td>Juneau  International Airport  </td>
<td>JNU</td>
</tr><tr bgcolor="#d1d1d1">
<td><span>Arizona</span></td>
<td><span>AZ</span></td>
</tr><tr>
<td>Flagstaff</td>
<td>FLG</td>
</tr><tr>
<td>Phoenix, <i>Phoenix Sky Harbor International Airport</i></td>
<td>PHX</td>
</tr><tr>
<td>Tucson  International Airport</td>
<td>TUS</td>
</tr><tr>
<td>Yum

In [60]:
rows = html_soup.find_all('table')[0].find_all('tr')

In [43]:
rows = trs[0:10]

In [64]:
import  pandas as pd

In [66]:
df = pd.DataFrame(data, columns=["Name", "TLC"])

In [67]:
df[:10]

                                                Name  TLC
0                   Birmingham International Airport  BHM
1                            Dothan Regional Airport  DHN
2                   Huntsville International Airport  HSV
3                                             Mobile  MOB
4                                         Montgomery  MGM
5                    Anchorage International Airport  ANC
6                   Fairbanks  International Airport  FAI
7                    Juneau  International Airport    JNU
8                                          Flagstaff  FLG
9  Phoenix, Phoenix Sky Harbor International Airport  PHX

In [65]:
data = [
    [str(td.text) for td in r.find_all('td')]
    for r in rows if r.find('span') == None
]

In [57]:
rows[1].find('span') == None

True